[submodule "libevhtp"]
	path = libevhtp
	url = https://github.com/justjanne/libevhtp.git
[submodule "libsearpc"]
	path = libsearpc
	url = https://github.com/justjanne/libsearpc.git
[submodule "seafile-server"]
	path = seafile-server
	url = https://github.com/justjanne/seafile-server.git
[submodule "seahub"]
	path = seahub
	url = https://github.com/justjanne/seahub.git
[submodule "seafobj"]
	path = seafobj
	url = https://github.com/justjanne/seafobj.git
[submodule "seafile-notifications"]
	path = seafile-notifications
	url = https://github.com/justjanne/seafile-notifications.git
[submodule "libseaserv"]
	path = libseaserv
	url = https://github.com/justjanne/libseaserv.git
[submodule "seafile-fileserver"]
	path = seafile-fileserver
	url = https://github.com/justjanne/seafile-fileserver.git
